In [1]:
import pandas as pd

data=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/labeled/normal/일반 민원 data.csv",index_col=0)
data_ab1=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/labeled/fishing/4 sentence/대출사기형(4문장).csv",index_col=0)
data_ab2=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0426/labeled/fishing/4 sentence/수사기관형(4문장).csv",index_col=0)

In [2]:
data

                                             sentence  predict
0                                   어떤 은행을 이용하고 계십니까?        0
1                                     어느지점으로 안내해드릴까요?        0
2                             지금 전화거신 핸드폰이 본인명의 맞습니까?        0
3                                    생년월일을 말씀해주시겠습니까?        0
4                                     살고계신 주소는 어디입니까?        0
...                                               ...      ...
22584                                     62400원 입니다.        0
22585                                   1423200원 입니다.        0
22586  입주신청서와 추천서, 급여내역서 외 기타 서류를 갖고 홈페이지에서 신청하면 됩니다.        0
22587                                    1~3순위가 있습니다.        0
22588             국가유공자 자녀 및 국민기초생활수급권자를 1순위로 두고있습니다.        0

[22589 rows x 2 columns]

In [3]:
data=data.sample(frac=1)

In [4]:
data=data[:6000]

In [5]:
data

                              sentence  predict
19390               아니요. 반명함판 사진만 됩니다.        0
17167           그럼요~~인터넷으로도 신청이 가능합니다.        0
14031                1장 당 1,200원 입니다.         0
6508      서울시청년일자리센터에 내방하셔서 알아보실수 있습니다        0
10582             사진 또는 동영상 첨부 부탁드립니다.        0
...                                ...      ...
455    2년이형랑 3년형이랑 납입 금액이 다르신데 안내드릴까요?        0
3782                  더 궁금하신 사항 있으신가요?        0
19210                   네 잠시만 기다려 주세요.        0
19108            해당 문화행사는 지역문화 축제 입니다.        0
14535                   일반도장도 가능하십니다.         0

[6000 rows x 2 columns]

In [6]:
data_ab1

                                               sentence  predict
0                        여보세요 네   님 예 예 어저께 통화했던 최영환입니다        1
1      아 예 예 어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었...        1
2               네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네        1
3      매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        1
4                             금리가 아 예 예 예. 말씀하세요 괜찮으세요?        1
...                                                 ...      ...
1391   아 그러니까 사장님께서 그 안쓰시는 통장 있으시면 400에서 450까지 선지급 해...        1
1392                          네 알겠습니다 네네 네 여보세요 뭐 어디세요?        1
1393   아 네 안녕하세요 저희 그 하나캐피탈에서 연락을 드렸습니다 아 그래요? 네네네 고...        1
1394   지금 현재 이용중이신 고금리건 채무 러시앤캐시 산와머니 이런 고금리건 채무 이용하...        1
1395   네네 어디어디 이용중이십니까? 너무 많아가지고  네 대부업건 어디어디 이용중이세요...        1

[1396 rows x 2 columns]

In [7]:
data_ab2

                                               sentence  predict
0     아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다. 본 사건 조사는 법원...        2
1      네 네 OOO씨 지금 제가 본인 확인 한번 할께요. 생년월일 앞에 여섯 자리만 말...        2
2        네 성함은 OOO님 맞으시죠? 네 네 본인 김성오 일당 잘 알고 있으십니까? 아니요        2
3      전혀 모른다고 진술 하셨는데 맞습니까? 네 네 이천 십 칠년이 월 삼 일 경기도 ...        2
4      이 두개 계좌 계설 사실에 대해서 전혀 모르신다는 말씀 이시죠? 네 네 본인은 네...        2
...                                                 ...      ...
3180   본인이 아시는지 모르시는지 조사를 해봐야 아는 거죠. 그거는 그니까 만약에... ...        2
3181   네 네이버 카페 중고나라 사이트를 통해서 그 김용식과 일당들이 고가의 명품 물건을...        2
3182   그럼 본인께서 오셔서 대면조사 받으시면 되는겁니다. 간단하게 네 그렇게 할게요. ...        2
3183   서울시 서초구로 오시면 됩니다 서울시오? 저희 관할이기 때문에 저희 쪽에서 조사를...        2
3184   아 그래요? 찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 ...        2

[3185 rows x 2 columns]

In [8]:
data_ab=pd.concat([data_ab1,data_ab2])

In [9]:
data_ab

                                               sentence  predict
0                        여보세요 네   님 예 예 어저께 통화했던 최영환입니다        1
1      아 예 예 어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었...        1
2               네 금리는 연 금리 5.5%에 상환 기간 60개월입니다. 5년이고요 네        1
3      매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035원...        1
4                             금리가 아 예 예 예. 말씀하세요 괜찮으세요?        1
...                                                 ...      ...
3180   본인이 아시는지 모르시는지 조사를 해봐야 아는 거죠. 그거는 그니까 만약에... ...        2
3181   네 네이버 카페 중고나라 사이트를 통해서 그 김용식과 일당들이 고가의 명품 물건을...        2
3182   그럼 본인께서 오셔서 대면조사 받으시면 되는겁니다. 간단하게 네 그렇게 할게요. ...        2
3183   서울시 서초구로 오시면 됩니다 서울시오? 저희 관할이기 때문에 저희 쪽에서 조사를...        2
3184   아 그래요? 찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 ...        2

[4581 rows x 2 columns]

In [10]:
data=pd.concat([data,data_ab])

In [11]:
data

                                                sentence  predict
19390                                 아니요. 반명함판 사진만 됩니다.        0
17167                             그럼요~~인터넷으로도 신청이 가능합니다.        0
14031                                  1장 당 1,200원 입니다.         0
6508                        서울시청년일자리센터에 내방하셔서 알아보실수 있습니다        0
10582                               사진 또는 동영상 첨부 부탁드립니다.        0
...                                                  ...      ...
3180    본인이 아시는지 모르시는지 조사를 해봐야 아는 거죠. 그거는 그니까 만약에... ...        2
3181    네 네이버 카페 중고나라 사이트를 통해서 그 김용식과 일당들이 고가의 명품 물건을...        2
3182    그럼 본인께서 오셔서 대면조사 받으시면 되는겁니다. 간단하게 네 그렇게 할게요. ...        2
3183    서울시 서초구로 오시면 됩니다 서울시오? 저희 관할이기 때문에 저희 쪽에서 조사를...        2
3184    아 그래요? 찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 ...        2

[10581 rows x 2 columns]

In [12]:
data=data.sample(frac=1)

In [13]:
data

                                                sentence  predict
925     죄송할건 없고요. 잘 안 들려서 본인한테 계속 여보세요 제가 물어 본 거예요. 아...        2
2855             그러니까 어디시냐고요. 서울 어디. 여보세요? 중앙 지검은 검찰청이에요        2
2667    제가 말씀 했던 것처럼 100만원이다 그럼 80에서 100. 이렇게 오차 많이 크...        2
7075   3년가 15만원씩 540만원을 납입하면 추가로 540만원인 1080만원을 지원해드립니다.        0
19279                   그렇군요 언제든지 괜찮으니까 궁금한게 있으면 연락 주세요.        0
...                                                  ...      ...
6912                       네 농업교육포털에서 수료증 발급, 인쇄 가능합니다.         0
1562                                예.안녕하세요.어떤걸 도와 드릴까요?        0
738     강 강제로 돼가지고 그렇게 합니다. 있었으면 강제로 하든지 소환장으로 하던지 하겠...        2
63           피해 보신 적 있으신가요? 아니요 사기범 :\u3000전혀 없으신가요？ 네 네        2
848     네 사 전화하십쇼 지금. 1588 2114 제가 안나오게 아셨습니까? 1588 2114        2

[10581 rows x 2 columns]

In [14]:
test_data=data[:300]

In [15]:
train_data=data[300:data.shape[0]]

In [16]:
train_data

                                                sentence  predict
3694                                                 NaN        0
1924    에서는 뒷자리 가렸다 치더라도 다른 거에서는 일단 일단 이런 그 제3자가 많은 거...        2
2196                네 네.  자택이 어디에 거주하고 계시는가요? 울산이요 울산이요?        2
20805                                      네, 20프로 됩니다.         0
1316    네 외출하기 전까지 만약에 연락이 안 됐다면 네 그러면 뭐 수사관님이 찾아가지 않...        2
...                                                  ...      ...
6912                       네 농업교육포털에서 수료증 발급, 인쇄 가능합니다.         0
1562                                예.안녕하세요.어떤걸 도와 드릴까요?        0
738     강 강제로 돼가지고 그렇게 합니다. 있었으면 강제로 하든지 소환장으로 하던지 하겠...        2
63           피해 보신 적 있으신가요? 아니요 사기범 :\u3000전혀 없으신가요？ 네 네        2
848     네 사 전화하십쇼 지금. 1588 2114 제가 안나오게 아셨습니까? 1588 2114        2

[10281 rows x 2 columns]

In [17]:
train_data.to_csv("train data.csv")
test_data.to_csv("test data.csv")